@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: black;
    font-family: sans-serif !important;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    /* width: 200px; */
}

.d-flex2 {
    display: flex;
    flex-direction: column;
}

.logo {
    height: 70px;
    width: 300px;
}

.side-img {
    width: 26px !important;
    height: 24px;
    cursor: pointer;
    margin-bottom: 20px;
}

.side-img2 {
    width: 26px !important;
    height: 24px;
    cursor: pointer;
}

.side-menu {
    height: auto;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
}


.vl {
    border-left: 2px solid white;
    width: 30px;
}

.content-main {
    background-color: rgba(40, 42, 49, 1);
    height: 100%;
    position: relative;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 20px;
}

.bg-color {
    background-color: rgba(24, 25, 29, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-radius: 15px;
}

.text {
    color: rgba(10, 193, 142, 1);
    font-family: sans-serif;
}

.card-head {
    background-color: rgba(0, 0, 0, 1);
    height: auto;
    width: 26vw;
    border-radius: 20px;
    padding: 5px;
}

.menu_icon {
    height: 5px;
    width: 20px;
}

.img_card {
    width: 345px;
    border-radius: 10px;
}

.card-body {
    height: 200px;
    background-color: rgba(24, 25, 29, 1);
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.content-body-card {
    height: 50px;
    background-color:
        rgba(19, 20, 23, 1);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.color-scheme {
    color:
        rgb(184, 184, 184);
    width: 120px;
    height: 20px;
    overflow-x: scroll;
}

.slick-prev {
    left: 529px !important;
    bottom: 100px !important;
    margin-top: 400px !important;
}

.slick-next {
    right: 529px !important;
    bottom: 100px !important;
    margin-top: 400px !important;
    color: white !important;
}

.slick-next:before, .slick-prev:before {
    font-size: 20px;
    line-height: 1;
    width: 100px;
    opacity: .75;
    color: white;
}

.arrow {
    border: solid white;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.arrowfun {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 50%;
    margin-left: 40%;
    margin-top: 50px;
    margin-bottom: 50px;


}

.arrowfun2 {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 50%;
    margin-left: 50%;
    margin-top: 100px !important;
    position: absolute;
    bottom: 0;

}

.arrowfun:hover {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black !important;
    border-radius: 50%;



}